@import "tailwindcss";

#root {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  @apply bg-gray-100;
}

@theme {
  --background: rgb(255, 255, 255);
  --color-border-base: rgb(148, 163, 184);
  --color-border-50: rgb(248, 250, 252);
  --color-border-100: rgb(241, 245, 249);
  --color-border-200: rgb(226, 232, 240);
  --color-border-300: rgb(203, 213, 225);
  --color-border-400: rgb(148, 163, 184);
  --color-border-500: rgb(100, 116, 139);
  --color-border-600: rgb(71, 85, 105);
  --color-border-700: rgb(51, 65, 85);
  --color-border-800: rgb(30, 41, 59);
  --color-border-900: rgb(15, 23, 42);
  --color-text-base: rgb(148, 163, 184);
  --color-text-50: rgb(248, 250, 252);
  --color-text-100: rgb(241, 245, 249);
  --color-text-200: rgb(226, 232, 240);
  --color-text-300: rgb(203, 213, 225);
  --color-text-400: rgb(148, 163, 184);
  --color-text-500: rgb(100, 116, 139);
  --color-text-600: rgb(71, 85, 105);
  --color-text-700: rgb(51, 65, 85);
  --color-text-800: rgb(30, 41, 59);
  --color-text-900: rgb(15, 23, 42);
  --color-primary-50: rgb(246, 240, 254);
  --color-primary-100: rgb(237, 226, 253);
  --color-primary-200: rgb(220, 197, 251);
  --color-primary-300: rgb(202, 168, 249);
  --color-primary-400: rgb(166, 115, 242);
  --color-primary-500: rgb(138, 77, 234);
  --color-primary-600: rgb(124, 69, 211);
  --color-primary-700: rgb(110, 61, 187);
  --color-primary-800: rgb(96, 54, 164);
  --color-primary-900: rgb(82, 46, 140);
  --color-secondary-50: rgb(236, 252, 254);
  --color-secondary-100: rgb(217, 249, 253);
  --color-secondary-200: rgb(179, 243, 251);
  --color-secondary-300: rgb(140, 236, 250);
  --color-secondary-400: rgb(102, 223, 251);
  --color-secondary-500: rgb(64, 207, 249);
  --color-secondary-600: rgb(58, 186, 224);
  --color-secondary-700: rgb(51, 166, 199);
  --color-secondary-800: rgb(45, 145, 174);
  --color-secondary-900: rgb(38, 124, 149);
  --color-accent-50: rgb(255, 246, 230);
  --color-accent-100: rgb(255, 237, 204);
  --color-accent-200: rgb(255, 219, 153);
  --color-accent-300: rgb(255, 201, 102);
  --color-accent-400: rgb(255, 176, 89);
  --color-accent-500: rgb(255, 156, 48);
  --color-accent-600: rgb(230, 140, 43);
  --color-accent-700: rgb(204, 125, 38);
  --color-accent-800: rgb(179, 109, 33);
  --color-accent-900: rgb(153, 94, 28);
  --color-destructive: rgb(220, 38, 38);
  --color-destructive-foreground: rgb(153, 27, 27);
  --color-sidebar-bg: #0c111d;
  --color-sidebar-text: #f5f5f5;
  --color-sidebar-hover: grey;
  --color-sidebar-icon: #909090;
  --color-submenu-bg: #1b1a1a;
  --color-submenu-text: #f5f5f5;
  --color-submenu-hover: grey;
  --color-submenu-icon: #909090;

  --color-success-1: #E6F9F2;
  --color-success-4: #005838;

  --color-warning-1: #FDF2E9;
  --color-warning-4: #733F11;

  --color-danger-1: #FCE8EA;
  --color-danger-4: #BB1425;
  --color-danger: #DC182C;
}