@import "tailwindcss";

#root {
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  @apply bg-gray-100;
}

@theme {
  --background: 255, 255, 255;
  --color-border-base: 148 163 184;
  --color-border-50: 248 250 252;
  --color-border-100: 241 245 249;
  --color-border-200: 226 232 240;
  --color-border-300: 203 213 225;
  --color-border-400: 148 163 184;
  --color-border-500: 100 116 139;
  --color-border-600: 71 85 105;
  --color-border-700: 51 65 85;
  --color-border-800: 30 41 59;
  --color-border-900: 15 23 42;
  --color-text-base: 148 163 184;
  --color-text-50: 248 250 252;
  --color-text-100: 241 245 249;
  --color-text-200: 226 232 240;
  --color-text-300: 203 213 225;
  --color-text-400: 148 163 184;
  --color-text-500: 100 116 139;
  --color-text-600: 71 85 105;
  --color-text-700: 51 65 85;
  --color-text-800: 30 41 59;
  --color-text-900: 15 23 42;
  --color-primary-50: 246 240 254;
  --color-primary-100: 237 226 253;
  --color-primary-200: 220 197 251;
  --color-primary-300: 202 168 249;
  --color-primary-400: 166 115 242;
  --color-primary-500: 138 77 234;
  --color-primary-600: 124 69 211;
  --color-primary-700: 110 61 187;
  --color-primary-800: 96 54 164;
  --color-primary-900: 82 46 140;
  --color-secondary-50: 236 252 254;
  --color-secondary-100: 217 249 253;
  --color-secondary-200: 179 243 251;
  --color-secondary-300: 140 236 250;
  --color-secondary-400: 102 223 251;
  --color-secondary-500: 64 207 249;
  --color-secondary-600: 58 186 224;
  --color-secondary-700: 51 166 199;
  --color-secondary-800: 45 145 174;
  --color-secondary-900: 38 124 149;
  --color-accent-50: 255 246 230;
  --color-accent-100: 255 237 204;
  --color-accent-200: 255 219 153;
  --color-accent-300: 255 201 102;
  --color-accent-400: 255 176 89;
  --color-accent-500: 255 156 48;
  --color-accent-600: 230 140 43;
  --color-accent-700: 204 125 38;
  --color-accent-800: 179 109 33;
  --color-accent-900: 153 94 28;
  --color-destructive: 220 38 38;
  --color-destructive-foreground: 153 27 27;
  --color-sidebar-bg: #0c111d;
  --color-sidebar-text: #f5f5f5;
  --color-sidebar-hover: grey;
  --color-sidebar-icon: #909090;
  --color-submenu-bg: #1b1a1a;
  --color-submenu-text: #f5f5f5;
  --color-submenu-hover: grey;
  --color-submenu-icon: #909090;

  --color-success-1: #E6F9F2;
  --color-success-4: #005838;

  --color-warning-1: #FDF2E9;
  --color-warning-4: #733F11;

  --color-danger-1: #FCE8EA;
  --color-danger-4: #BB1425;
}